---
import MyImage from '@/components/MyImage.astro'
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
const { blok } = Astro.props
const { id } = Astro.props

let blockClass = ''

if (id === 0) {
	blockClass = 'serviceBgRed'
} else if (id === 1) {
	blockClass = 'serviceBgYellow'
} else if (id === 2) {
	blockClass = 'serviceBgPurple'
} else if (id === 3) {
	blockClass = 'serviceBgBlue'
}
---

<div
	{...storyblokEditable(blok)}
	class=`flex h-136 items-end rounded-3xl p-4`
	style=`background-image: url(${blok?.Image?.filename})`
>
	<div
		class=`container mx-auto flex flex-col bg-no-repeat bg-auto bg-right-6-top gap-4 p-6 rounded-3xl ${blockClass}`
	>
		<div class='flex flex-col justify-between gap-2'>
			<h3 class='text-xl uppercase'>{blok?.Title}</h3>
			<p>{blok?.Description}</p>
		</div>
		{
			blok.Link?.map((blok) => {
				return <StoryblokComponent blok={blok} size='lg' />
			})
		}
	</div>
</div>
